/* Scroll start */
::-webkit-scrollbar {
  width: 10px;
  background: $white;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  width: 10px;
  background: $white;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  margin-bottom: 5px;

}
::-webkit-scrollbar-track-piece {
  width: 10px;
  background: $white;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 10px;
  padding-top: 10px;
  margin-top: 10px;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer{
  display: none;
}
